<!-- <!DOCTYPE html> -->
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cadastro de Usuário</title>
  <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
</head>

<body>
  <a href="/">Voltar</a>

  <section class="container">
    <h1>Cadastro de Usuário</h1>
    <form id="cadastro" action="/submit"  method="POST">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name">

      <label for="email">Email</label>
      <input type="text" id="email" name="email">
      
      <label for="studant">É aluno</label>
      <input type="checkbox" id="studant" name="studant">
      
      <label for="cnpf">CNPJ/CPF</label>
      <input type="text" id="cnpf" name="cnpf">
      
      <label for="bday">Data de Nacimento</label>
      <input type="text" id="bday" name="bday">
      
      <label for="tel">Telefone</label>
      <input type="text" id="tel" name="tel">
      
      <button type="submit">Enviar</button>
    </form>

    <div id="resultado"></div>
  </section>

  <!-- <script src="{{url_for('static', filename="js/main.js")}}"></script> -->
  <script>
      document.getElementById("cadastro").addEventListener("submit", event =>{
          const user_name = document.getElementById("name")[0].value
          const user_email = document.getElementById("email")[0].value
          const user_cpf = document.getElementById("cnpf")[0].value
          const user_phone = document.getElementById("tel")[0].value
          const user_birthday = document.getElementById("bday")[0].value

        if(!user_name || !user_email || !user_cpf || !user_phone || !user_birthday){
          event.preventDefault()
          alert("Existem Campos que devem ser preenchidos")
        }
    })
  </script>
</body>

</html>

<!-- {
  "name": "Gabriel",
  "email": "gabriel.spavia@gmail.com",
  "user_type_id": "1",
  "password": "123456",
  "is_active": "1",
  "cpf_cnpj": "51804500000117",
  "terms": "1",
  "birthday": "17/09/1998",
  "phone": "48999999999"    
} -->