<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilos.css">
    {% block head%}
    {%endblock%}
</head>
<body>
    <header>
        <nav>
            <a href="/pagina1">pagina1</a>
            <a href="/pagina2">pagina2</a>
            <a href="/pagina3">pagina3</a>
        </nav>
    </header>
    <main>
        <p>Lago lindo, nadava</p>
        {% block nome_q_quiser%}

        {%endblock%}
    </main>

    <footer>
        copyright 2022
    </footer>
    
</body>
</html>