<form method="POST">
    <div>
        <label for="tx-nome">Nome: </label>
        <input type="text" name="nome" id="tx-nome">
    </div>
    <div>
        <label for="tx-idade">Idade: </label>
        <input type="number" name="idade" id="tx-idade">
    </div>
    <div>
    Atividades favoritas:<br>
        <input type="checkbox" name="atividades" value="Comer" id="cb-comer">
        <label for="cb-comer">Comer</label><br>
        <input type="checkbox" name="atividades" value="Dormir" id="cb-dormir">
        <label for="cb-dormir">Dormir</label><br>
        <input type="checkbox" name="atividades" value="Programar" id="cb-programar">
        <label for="cb-programar">Programar</label><br>
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
    </form>